<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.javi.mrfox">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_fox"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MrFoxTheme">

        <activity android:name=".MySplash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MyLogin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">>
        </activity>

        <activity android:name=".MyMain"
            android:label="@string/label_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>